{% extends "tumbledore/themes/default/base.html" %}
{% load markup tumbledore %}

{% block content %}

{% for post in object_list %}
{% tumblevar permalink %}{% url tumble_post post.tumblelog.mount_on, post.slug %}{% endtumblevar %}
    <article class="hentry">
        <header class="clearfix">
            <h2 class="entry-title"><a href="{{ permalink }}">{{ post.title }}</a></h2>
            <div class="meta">
                <address class="author">by {{ post.author|safe }}</address>
                <time datetime="{{ post.published_at }}" class="published muted" pubdate>{{ post.published_at|date:"M d, Y \a\t P" }}</time>
            </div>
        </header>
        <div class="postContent entry-content">
            {% if post.has_permalink %}
                {{ post.excerpt|safe|markdown }}
                <p class="more">
                    <a href="{{ permalink }}">Read more &raquo;</a>
                </p>
            {% else %}
                {{ post.content|safe|markdown }}
            {% endif %}
        </div>
    </article>
    <hr>
{% endfor %}
<div class="tumble-pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">&laquo; Previous page</a>
        {% endif %}

        <span class="current muted">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">Next page &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block sidebar %}
    {{ block.super }}
{% endblock %}